
<div class="row">
    <div class="col-4"></div>





</div>




    <form action="#" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="comuna" class="form-label">Contraseña</label>
        <input type="comuna_cod" class="form-control" name="comuna_cod" id="comuna_cod"/>
      </div>
      <div class="form-select">
        <select name="" id="">


        </select>




      </div>




      <div class="mb-3">
        <label for="palabra" class="form-label">Repetir Contraseña</label>
        <input type="text" class="form-control" name="palabra" id="palabra" />
      </div>
      <input type="submit" value="Buscar" class="btn btn-outline-success">

    </form>
  </div>
