{% extends 'base.html' %}

{% block content %}
<h1>este es el index</h1>


<a href="/form_test/">
<button
    type="button"
    class="btn btn-outline-primary"
>
    test
</button>
</a>

<a href="/accounts/login/">
<button
    type="button"
    class="btn btn-outline-primary"
>login</button>
</a>

<div class="btn-group">
    <a href="/accounts/profile" class="btn btn-primary active" aria-current="page">cambio de dato</a>
    <a href="/register/" class="btn btn-primary">registro</a>
</div>

{% endblock %}