{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-4">
        <h3>Filtra las propiedades</h3>
        <form action="/" method="get">
            <div class="mb-3">
                <label for="region_cod" class="form-label">Región</label>
                <select name="region_cod" id="region_cod" class="form-select">
                    <option value="">Selecciona una región</option>
                    {% for region in regiones %}
                        <option value="{{region.cod}}">{{region.nombre}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="comuna" class="form-label">Comuna</label>
                <select name="comuna_cod" id="comuna_cod" class="form-select">
                    <option value="">Selecciona una comuna</option>
                    {% for comuna in comunas %}
                        <option value="{{comuna.cod}}">{{comuna.nombre}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="palabra" class="form-label">Palabra</label>
                <input type="text" class="form-control" name="palabra" id="palabra" />
            </div>
            <input type="submit" value="Buscar" class="btn btn-success">
        </form>
    </div>
    <div class="col-8">
        {% for inmueble in inmuebles %}
        
        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title">{{inmueble.nombre}}</h5>
                        <p class="card-text">{{inmueble.descripcion}}</p>
                        <p class="card-text">{{inmueble.comuna}}</p>
                    </div>
                    <div class="col-4">
                        <!-- Botón para abrir el modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detalleModal{{inmueble.id}}">
                            Ver detalle
                        </button>
                        
                        <!-- <a href="/inmueble/detalle/{{inmueble.id}}" class="btn btn-primary">Ver detalle</a> -->
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="detalleModal{{inmueble.id}}" tabindex="-1" aria-labelledby="detalleModalLabel{{inmueble.id}}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detalleModalLabel{{inmueble.id}}">{{ inmueble.nombre }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{% static 'img/casa_ejemplo.jpeg' %}" class="img-fluid ms-2" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ inmueble.nombre }}</h5>
                            <p class="card-text">{{ inmueble.descripcion }}</p>
                            <p class="card-text">{{ inmueble.precio_mensual }}</p>
                            <a href="/inmueble/detalle/{{inmueble.id}}" class="btn btn-primary">Ver detalle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block js %}
<script>
function filtrar_comuna(){
    const cod_seleccionado = $(this). val()
        $("comuna_cod").val("")
    $("#comuna_cod  option").each(function(){
        const comuna=$(this)
        const cod_comuna = comuna.val()
        if(cod_selecionado == cod_comuna.substring(0.2)){
            comuna.show()
        } else{
            comuna.hide
        }
        })
    }
    $("#region_cod").on("change", filtrar_comunas)
</script>
{% endblock %}