{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-center align-items-center g-2">

  <div class="col-3">
    <h3 class="text-center">cambia tu contraseña</h3>
    <form action="/accounts/change-pass/" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="******" required />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Repetir Contraseña</label>
        <input type="password" class="form-control" name="pass_repeat" id="pass_repeat" placeholder="******" required />
      </div>
      <input type="submit" value="cambiar" class="btn btn-outline-danger">
    </form>
  </div>

  <div class="col-5">
    <h3 class="text-center">edita tus datos personales</h3>
    <form action="/edit-user/" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="abc@mail.com"
          value="{{user.email}}" />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="tu nombre"
          value="{{user.first_name}}" />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Apellido</label>
        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="tu apellido"
          value="{{user.last_name}}" />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">direccion</label>
        <input type="text" class="form-control" name="direccion" id="direccion" placeholder="tu direccion"
          value="{{user.usuario.direccion}}" />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Teléfono</label>
        <input type="text" class="form-control" name="telefono" id="telefono" placeholder="tu telefono"
          value="{% if user.usuario.telefono %}{{user.usuario.telefono}}{% endif %}" />
      </div>
      <div class="mb-3">
        <!-- <b> {{user.usuario.rol}}</b> -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rol" id="arrendador" value="arrendador" required {% if user.usuario.rol == 'arrendador' %} checked {% endif %} />
          <label class="form-check-label" for="">
            Arrendador
          </label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="rol" id="arrendatario" value="arrendatario" required {% if user.usuario.rol == 'arrendatario' %} checked {% endif %} />
        <label class="form-check-label" for=""> Arrendatario</label>
        </div>
      </div>


      <input type="submit" value="Enviar" class="btn btn-outline-success">
    
    </form>

  </div>

  <div class="col-4">
    <h3 class="text-center">tus propiedades
    </h3> 
    {% for propiedad in propiedades %}

    <div class="card mb-3"  >
      <div class="row g-0 align-items-center">
        <div class="col-md-4">
          <img src="{% static 'img/casa_ejemplo.jpeg' %}" class="img-fluids" style="width: 140px;" alt="soon!!!">
        </div>
        <div class="col-md-8">
          
            
            <div class="card-body" >
              <h5 class="card-title">{{ propiedad.nombre}} </h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{propiedad.descripcion}}</h6>
              <p class="card-text">{{propiedad.comuna}}</p>
            </div>
            
              <div class="d-flex justify-content-end text-colo">
                
                <a href="{% url 'eliminar_inmueble' id=propiedad.id %}" class="card-link" onclick="eliminar(event)"><i class="bi bi-trash3-fill text-danger fs-3" id="{{propiedad.id}}"></i>
                </a>
                <a href="/inmueble/editar/{{propiedad.id }}" class="card-link"><i class="bi bi-pencil-fill text-success fs-3"></i></a>
                
              </div>
          
          
        </div>  
        
      </div>
    
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


{% block js %}
  <script>
    function eliminar(event){
    //1 Evitamos que enlace me dirija a otro lado
    event.preventDefault()
    // 2 recuperamos el id del enlace clickeado
    const id=event.target.id
    const url = '/inmueble/eliminar/' + id 
    //3 confirmamos si el usuario quiere eliminar o no
    // console.log("eliminando propiedad"+href)
    const confirmacion= confirm('Click en aceptar seguir la operacion')
    if (confirmacion == true){
      // redirijo la pagina al URL construida
      window.location.href = url
    }
    }
  </script>

{% endblock %}